* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: helvetica;
}

#bottomNav {
    background-color: black;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-items: center;
    align-items: center;
}
.bottomNav:hover{
    background: #ea5045;
}

#bottomNav img {
    width: 50px;
    margin-top: 5px;
}

#settings-icon {
    grid-area: settings;
}

#chat-icon {
    grid-area: chat;
}

#topNav {
    background-color: black;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "settings . . chat";
    justify-items: center;
}

#topNav img {
    width: 50px;
    margin-top: 5px;
}

/*Log in page below*/
#loginBody {
    background-color: #ea5045;
}

#loginContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        ". logo ."
        ". loginDiv .";
}

#logo {
    grid-area: logo;
    background-color: #ea5045;
    /*    border: solid 3px black;*/
    margin: auto;
}

#logoImg {
    align-self: center;
    width: 600px;
    margin: auto;
}

#loginDiv {
    grid-area: loginDiv;
    background-color: #ea5045;
    display: block;
    text-align: center;
}

/*
section {
    perspective: 100%;
    perspective-origin: top;
}
*/

#btnOpen {
    align-self: center;
    position: fixed;
}

#loginForm {
    color: black;
    width: 300px;
    border: solid 1px white;
    margin: auto;
    margin-top: 2em;
    padding: 1em 3em;
    background-color: #ea5045;
    transform: rotateX(-90deg);
    transform-origin: top;
    text-align: center;
}

label {
    display: block;
    margin-left: 10px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 2px;
    font-family: sans-serif;

}

input {
    margin-left: 10px;
    align-self: center;
    width: 100%;
    margin-bottom: 2px;
}

#btnSend {
    align-self: center;
    margin: 5px;
    margin-left: 10px;
    width: 190px;
    height: 30px;
}

#loginForm.show {
    animation: dropWink 2s forwards;
    display: block;
}

@keyframes dropWink {

    50% {
        transform: rotateX(35deg);
    }

    75% {
        transform: rotate(7deg)
    }

    100% {
        transform: rotate(0deg);
    }
}

/*homepage below */
#pinnedSectionTitle {
    text-align: center;
}

#home-pageContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-areas: ". . pinSection . ."
        ". newsFeed newsFeed newsFeed .";
    grid-column-gap: 10px;
    margin-top: 20px;
}

#pinSection {
    grid-area: pinSection;
    background-color: white;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
}

.pinTabsClass {
    background-color: #ea5045;
    width: 160px;
    height: 120px;
    display: grid;
    justify-items: center;
    align-items: center;
}

/*pin section above^ and news feed below */
#newsFeed {
    grid-area: newsFeed;
    color: black;
    background-color: white;
    height: 1500px;
    /*    display: grid;*/
    /*    grid-template: 1fr 1fr 1fr;
    grid-template-areas: "articleTxt articleTxt articleImg";*/
    margin: 10px;
}

#newsFeed h1 {
    text-align: center;
}

.newsRows {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "articleTxt articleImg";
    margin-bottom: 4vw;
    border: solid 1px;
}

#newsSectionTitle {
    font-size: 20px;
}

.articleTxt {
    grid-area: articleTxt;
    /*    height: 100px;
    width: 100%;*/
    background-color: #ffffff;
}
.articleImg {
    grid-area: articleImg;
    height: 100px;
    width: 100%;
    background-color: gray;
}

.testImg {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
#anchor:visited{
    color: black;
}

/*articlePage below */
#articleSection{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: ". articleImage ."
        ". articleHeader ."
        ". articleArticle .";
        border: solid 2px;
}

#articlePageImg{
    grid-area: articleImage;
}
#articlePageHeaderTxt{
    grid-area: articleHeader;
    color: white;
    background-color: black;
    font-size: 20px;
}
#articlePageContentTxt{
    grid-area: articleArticle;
    font-size: 16px
}


/*MEDIA QUERY MOBILE VERSION below */
@media screen and (max-width: 415px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: white;
    }

    /*Log in page below*/
    #loginContainer {
        display: grid;
        grid-template-columns: 0.5em 1fr 0.5em;
        grid-template-areas:
            ". logo ."
            ". loginDiv .";
        align-items: center;
    }

    #logo {
        grid-area: logo;
        background-color: #ea5045;
        height: px;
    }

    #loginDiv {
        grid-area: loginDiv;
        background-color: #ea5045;
        display: block;
        text-align: center;
    }

    #logoImg {
        align-self: center;
        width: 200px;
    }

    #btnOpen {
        align-self: center;
        position: fixed;
    }

    /*pin section above^ and news feed below */
    #newsFeed {
        grid-area: newsFeed;
        color: black;
        background-color: white;
        height: 1500px;
        margin: 10px;
        /*    display: grid;*/
        /*    grid-template: 1fr 1fr 1fr;
    grid-template-areas: "articleTxt articleTxt articleImg";*/
    }

    #newsFeed h1 {
        text-align: center;
    }

    .newsRows {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "articleImg""articleTxt";
        margin-bottom: 4vw;
        width: 100%;
    }

    #newsSectionTitle {
        font-size: 20px;
    }

    articleTxt {
        grid-area: articleTxt;
        height: 100px;
        width: 100%;
        background-color: white;

    }

    .articleImg {
        grid-area: articleImg;
        width: 100%;
        background-color: gray;
        height: 100%;
        object-fit: cover;
    }
    /*articlePage below */
#articleSection{
    display: grid;
    grid-template-columns: 1em 2fr 1em;
    grid-template-areas: ". articleImage ."
        ". articleHeader ."
        ". articleArticle .";
}
#articlePageImg{
    grid-area: articleImage;
}
#articlePageHeaderTxt{
    grid-area: articleHeader;
    color: white;
    background-color: black;
    font-size: 18px;
}
#articlePageContentTxt{
    grid-area: articleArticle;
    font-size: 12px;
}

/*    #articleImg1 {
        background-image: url(assets/Large/pexels-photo-274192.jpeg);
        width: 100px;
    }*/


}
